{% extends "base.html" %}

{% block content %}
    <h1>Hi, User!</h1>
    {% for endpoint in endpoints %}
    <div><p><b><a href="{{ endpoint.url }}">{{ endpoint.Name }}</a></b></p></div>
    {% endfor %}
{% endblock %}