{% extends "base.html" %}

{% block content %}
    <h1>Post Form</h1>
    <form action="/post_response" method="post">
        <p>
            {{ form.text.label }}<br>
            {{ form.text(size=32) }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.number.label }}<br>
            {{ form.number(size=32) }}<br>
            {% for error in form.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
